@{
    ViewBag.Title = "Dungeons and Dragons Companion";
}
<!DOCTYPE html>
<html>
<!DOCTYPE html>
<html>
    <!--Head section-->
    <head>
        <!--Metadata-->
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        <!--Enabling client-side libraries-->
        <!--JQuery-->
        <script src="~/lib/jquery/jquery.min.js"></script>
        <!--Bootstrap stylesheet-->
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
        
        <!--Popper.js-->
        <script src="~/lib/popper.js/popper.min.js"></script>
        <!--Bootstrap scripts-->
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <!--JQuery Validate-->
        <script src="~/lib/jquery-validate/dist/jquery.validate.min.js"></script>
        <!--JQuery Validate unobtrusive-->
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js/jquery.validate.unobtrusive.min.js"></script>
        </head>

    <!--Body section | Beginning of visible page content-->
    <body>
        <!--Navigation Menu/Bar becomes vertical on small screens-->
        <nav class="navbar navbar-expand-sm bg-light">
            <!--Brand-->
            <a class="navbar-brand" href="~/Home/Index/">D&D</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="~/Home/Index/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Home/Index/">Characters</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Home/Index/">Dice</a>
                </li>
                <!--Dropdown-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Assignments
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href=="~/Assignment6_1/Index/">Assignment 6.1</a>
                    </div>
                </li>
            </ul>
        </nav>
        @RenderBody()
    </body>
</html>

</html>