@{
    ViewBag.Title = "Assignment 6.1";
    ViewBag.Heading = "Assignment 6.1";
    ViewBag.SubHeading = "Chapter7Assignment/Index";
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
    <!--Body section | Beginning of visible page content-->
    <body>
        <h1>@ViewBag.Heading</h1>
        <h2>@ViewBag.SubHeading</h2>
    </body>
</html>
