@using dnd.Models.Chapter7Assignment
@model List<Student>
@{
    ViewBag.Title = "Advanced C# Homework";
    ViewBag.Heading = "Assignment 6.1";
    ViewBag.SubHeading = "Student Grades Access";
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
    <!--Body section | Beginning of visible page content-->
    <body>
        <table class = "table table-bordered table-striped">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Grade</th>
                </tr>
            </thead>
            <tbody>
                @foreach(@Student student in @Model)
                {
                    <tr>
                        <td>@student.FirstName</td>
                        <td>@student.LastName</td>
                        @if(ViewBag.Admin==true)
                        {
                            <td>@student.Grade</td>
                        }else
                        {
                            <td>Insufficient Access</td>
                        }
                    </tr>
                }               
            </tbody>
        </table>
        <a class="nav-link" href="~/Chapter7Assignment/Index/">Assignment Home</a>
        <a class="nav-link" href="~/Home/Index/">Back to Project Home</a>
</body>
</html>
