
@{
    ViewBag.Title = "Dungeons and Dragons Companion";
    ViewBag.Heading = "Dungeons and Dragons Companion: Final Project";
    ViewBag.SubHeading = "Existing Characters";
    Layout = "_Layout";
}
<!--Link that takes the user to the Create a Character action-->
<a asp-action="CreateCharacter" class="btn-link">
    <h6 style="text-align:center;">Create a New Character Sheet</h6>
</a>
<!--List of All Character Sheets-->

