@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Dungeons and Dragons Companion";
    ViewBag.Heading = "Dungeons and Dragons Companion: Final Project";
    ViewBag.SubHeading = "Characters";
    Layout = "_Layout";
}

<a asp-action="Add" class="btn-link">
    <h6 style="text-align:center;">Create a New Character Sheet</h6>
</a>
