@using dnd.Models.Session
@model User
@{
    ViewBag.Title = "Dungeons and Dragons Companion";
    ViewBag.Heading = "Dungeons and Dragons Companion: Final Project";
    ViewBag.SubHeading = "Create User";
    Layout = "_Layout";
}
<!--TODO Error Validation Summary-->
<!--Begin Create User Form (Post Method)-->
<form asp-action="CreateUser" method="post">
    <br /><h6>Admin Options:</h6>
    <p>@Html.RadioButtonFor(i => i.IsAdmin, true) Dungeon Master (Admin Account)</p>
    <p>@Html.RadioButtonFor(i => i.IsAdmin, false) Player (User Account)</p>
    <div class="form-group">
        <label asp-for="Username">Username: </label>
        <input asp-for="Username" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password">Password: </label>
        <input asp-for="Password" class="form-control" />
    </div>
    <!--TODO Confirm Password-->
    <div class="form-group">
        <label asp-for="Name">Name: </label>
        <input asp-for="Name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Create User</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>