@using dnd.Models.Characters
@model Character
@{
    ViewBag.Title = "Dungeons and Dragons Companion";
    ViewBag.Heading = "Dungeons and Dragons Companion: Final Project";
    ViewBag.SubHeading = "Character Sheet Creation";
    Layout = "_Layout";
}
<h6>Follow Along To Create Your Character. </h6>
<!--TODO Error Validation Summary-->
<form asp-action="CreateCharacter" method="post">

</form>
<form asp-action="CreateCharacter" method="post">
    <!-- Character Name Label and Input -->
    <div class="form-group">
        <label asp-for="CharacterName">Name: </label>
        <input asp-for="CharacterName" class="form-control" />
    </div>
    <!-- Character Class Label and Input -->
    <div class="form-group">
        <label asp-for="CharacterClass">Class: </label>
        <select asp-for="CharacterClass" class="form-control" asp-items="@(new SelectList(ViewBag.Classes, "Id", "Name"))">
            <option value=""></option>
        </select>
    </div>
    <!-- Character Race Label and Input -->
    <div class="form-group">
        <label asp-for="CharacterRace">Race: </label>
        <select asp-for="CharacterRace" class="form-control" asp-items="@(new SelectList(ViewBag.Races, "Id", "Name"))">
            <option value=""></option>
        </select>
    </div>
    <!-- Character Level Label and Input -->
    <div class="form-group">
        <label asp-for="CharacterLevel">Level: </label>
        <input asp-for="CharacterLevel" class="form-control" />
    </div>
    <!-- Character Background Label and Input -->
    <div class="form-group">
        <label asp-for="CharacterBackground">Background: </label>
        <input asp-for="CharacterBackground" class="form-control" />
    </div>
    <!-- Character Alignment Label and Input -->
    <label asp-for="Alignment">Alignment: </label>
        <select asp-for="Alignment" class="form-control" asp-items="@(new SelectList(ViewBag.Alignments, "Id", "Name"))">
            <option value=""></option>
        </select>
    <!-- Experience Points Label and Input -->
    <div class="form-group">
        <label asp-for="ExperiencePoints">Experience Points: </label>
        <input asp-for="ExperiencePoints" class="form-control" />
    </div>
    <!-- Strength -->
    <div class="row">
        <div class="col">
            <label asp-for="StrengthVal">Base Strength Value: </label>
            <input asp-for="StrengthVal" class="form-control" />
        </div>
        <div class="col">
            <label asp-for="DexterityVal">Base Dexterity Value: </label>
            <input asp-for="DexterityVal" class="form-control" />
        </div>
        <div class="col">
            <label asp-for="ConstitutionVal">Base Constitution Value: </label>
            <input asp-for="ConstitutionVal" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label asp-for="IntelligenceVal">Base Intelligence Value: </label>
            <input asp-for="IntelligenceVal" class="form-control" />
        </div>
        <div class="col">
            <label asp-for="WisdomVal">Base Wisdom Value: </label>
            <input asp-for="WisdomVal" class="form-control" />
        </div>
        <div class="col">
            <label asp-for="CharismaVal">Base Charisma Value: </label>
            <input asp-for="CharismaVal" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label asp-for="InspirationVal">Inspiration Value: </label>
            <input asp-for="InspirationVal" class="form-control" />
        </div>
        <div class="col">
            <label asp-for="ProficiencyBonusVal">Proficiency Bonus Value: </label>
            <input asp-for="ProficiencyBonusVal" class="form-control" />
        </div>
    </div>
    <div class="row">
        <label asp-for="PersonalityTraits">Personality Traits: </label>
        <input asp-for="PersonalityTraits" class="form-control" />
    </div>
    <div class="row">
        <label asp-for="Ideals">Ideals: </label>
        <input asp-for="Ideals" class="form-control" />
    </div>
    <div class="row">
        <label asp-for="Bonds">Bonds: </label>
        <input asp-for="Bonds" class="form-control" />
    </div>
    <div class="row">
        <label asp-for="Flaws">Flaws: </label>
        <input asp-for="Flaws" class="form-control" />
    </div>
    <div class="row">
        <label asp-for="Traits">Additional Character Traits: </label>
        <input asp-for="Traits" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">
        Create Character
    </button>
    <a asp-action="Index" class="btn btn-primary">Cancel</a>
</form>