@using dnd.Models.Characters
@model Character
@{
    ViewBag.Title = "Dungeons and Dragons Companion";
    ViewBag.Heading = "Dungeons and Dragons Companion: Final Project";
    ViewBag.SubHeading = "Character Sheet Creation";
    Layout = "_Layout";
}
<h6>Follow Along To Create Your Character. </h6>
<!--TODO Error Validation Summary-->
<form asp-action="CreateCharacter" method="post">

</form>
<form asp-action="CreateCharacter" method="post">
    <!-- Character Name Label and Input -->
    <div class="form-group">
        <label asp-for="CharacterName">Name: </label>
        <input asp-for="CharacterName" class="form-control" />
    </div>
    <!-- Character Class Label and Input -->
    <div class="form-group">
        <label asp-for="CharacterClass">Class: </label>
        <select asp-for="CharacterClass" class="form-control" asp-items="@(new SelectList(ViewBag.Classes, "Id", "Name"))">
            <option value=""></option>
        </select>
    </div>
    <!-- Character Race Label and Input -->
    <div class="form-group">
        <label asp-for="CharacterRace">Race: </label>
        <select asp-for="CharacterRace" class="form-control" asp-items="@(new SelectList(ViewBag.Races, "Id", "Name"))">
            <option value=""></option>
        </select>
    </div>
    <!-- Character Level Label and Input -->
    <div class="form-group">
        <label asp-for="CharacterLevel">Level: </label>
        <input asp-for="CharacterLevel" class="form-control" />
    </div>
    <!-- Character Background Label and Input -->
    <div class="form-group">
        <label asp-for="CharacterBackground">Background: </label>
        <input asp-for="CharacterBackground" class="form-control" />
    </div>
    <!-- Character Alignment Label and Input -->
    <label asp-for="Alignment">Alignment: </label>
        <select asp-for="Alignment" class="form-control" asp-items="@(new SelectList(ViewBag.Alignments, "Id", "Name"))">
            <option value=""></option>
        </select>
    <!-- Experience Points Label and Input -->
    <div class="form-group">
        <label asp-for="ExperiencePoints">Experience Points: </label>
        <input asp-for="ExperiencePoints" class="form-control" />
    </div>
    <!-- Strength -->
    <!-- Dexterity -->
    <!-- Constitution -->
    <!-- Intelligence -->
    <!-- Wisdom -->
    <!-- Charisma -->
    <!-- Inspiration -->
    <!-- Proficiency Bonus -->
    <!-- Saving Throws Type -->
    <!-- Armor Class -->
    <!-- Initiative -->
    <!-- Speed -->
    <!-- Current HP -->   
    <!-- Temporary HP -->
    <!-- Hit Dice -->
    <!-- Successful Death Saves -->
    <!-- Unsuccessful Death Saves -->
    <!-- Personality Traits -->
    <!-- Ideals -->
    <!-- Bonds -->
    <!-- Flaws -->
    <!-- Traits -->
    <button type="submit" class="btn btn-primary">
        Create Character
    </button>
    <a asp-action="Index" class="btn btn-primary">Cancel</a>
</form>