@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Dungeons and Dragons Companion";
    ViewBag.Heading = "Dungeons and Dragons Companion: Final Project";
    ViewBag.SubHeading = "Dice";
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
    <!--Body section | Beginning of visible page content-->
    <body>
        
    </body>
</html>
