@using dnd.Models.Session
@model User
@{
    // Use these ViewBag values to change the header for the page
    ViewBag.Heading = "Dungeons and Dragons Companion: Final Project";
    ViewBag.SubHeading = "Home Page";
    Layout = "_Layout";
}
<div style="display:@ViewData["DisplayNone"]">
    <h4>You are already logged in!</h4>
    <h6><a asp-action="Characters">Click to View and Create Characters.</a></h6>
    <h6><a asp-action="Logout">Click to Log Out.</a></h6>
</div>
<!--Link to the CreateUser View-->
<h6><a asp-action="CreateUser">Click Here to Create a User Profile</a></h6> 
<div style="display:@ViewData["DisplayFormNone"]">
    <h6>Have an Account? Sign In:</h6>
    <!--Form for Signing in With an Existing User Profile-->
        <form asp-action="Login" method="post">
            <div class="form-group">
                <label>Username: </label>
                <input class="form-control" asp-for="@Model.Username" />
            </div>
            <div class="form-group">
                <label>Password: </label>
                <input type="password" class="form-control" asp-for="@Model.Password" />
            </div>
            <button type="submit" class="btn btn-primary">
                Submit
            </button>
            <a asp-action="Index" asp-route-id="" class="btn btn-secondary">Clear</a>
        </form>
</div>
